body {
  font-family: 'Noto Sans', sans-serif;
}

.oval-background {
  display: inline-block; /* Make the element fit the content */
  background-color: #69246bc6; /* Background color */
  color:white;
  padding: 5px 30px; /* Padding to create space around the text */
  border: 2px solid black; 
  border-radius: 0px 0px 40px 40px; /* Creates the oval shape */
  text-align: center; /* Center the text */
  margin: 0px; /* Optional: spacing around the element */
}

hr {
  border: none; /* Remove default border */
  height: 2px; /* Set the height of the line */
  border-top: 2px dotted black; /* Set the color of the line */
  width: 66%; /* Make the line span the full width */
  margin: 10px auto 0px auto; /* Add some margin above and below */
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  max-width: none;
  background-color: rgba(0, 0, 0, 0);
  color: #003456;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 1s;

  /* Position the tooltip above the word */
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

/* Show the tooltip when hovering */
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

.tooltip .tooltip_phone{
  visibility: hidden;
  max-width: none;
  background-color: rgba(0, 0, 0, 0);
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 1s;

  /* Position the tooltip above the word */
  bottom: 75%;
  left: 50%;
  transform: translateX(-50%);
}

/* Show the tooltip when hovering */
.tooltip:hover .tooltip_phone{
  opacity: 1;
  visibility: visible;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

img.thumbnail
{
	border-style: solid;
  border-width: 4px;
	width: 100;
	margin-left: 15px;
}

p.thumbnail_title
{
	font-size: 12.5px;
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

button {
  padding: 2.5px 7px;
  cursor: pointer; 
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

.bordered {
  border: 2px solid #333; 
  padding: 30px;          
  border-radius: 8px;      
  display: inline-block;   
}

.move-right {
  transform: translateX(200px);
}